.screen {
  background-color: #daf561;
  border: none;
  font-size: 24px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  outline: none;
  width: 100%;
  height: 110px;
  text-align: end;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 0 10px;
}
